{% extends "base.html" %}
{% load static %}
     
    {% block title %}Listado de autores{% endblock %}
     
    {% block content %}
    <h1>Listado de autores</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Autor</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            {% for autor in author_list %}
            <tr>
                <td><a href="{% url 'detalle-autor' autor.id %}">{{ autor }}</a></td>
                <td><a href="{% url 'author-update' autor.id %}">&#9999;</a></td>
                <td><a href="{% url 'author-delete' autor.id %}">&#128465;</a></td>
            </tr>
            {% endfor %}
        </table>
    <!--Para que salga debajo de todo para cambiar de página-->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
             
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
             
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endblock %}
    