{% extends "base.html" %}
{% load static %}

{% block title %}Detalle del libro{% endblock %}

{% block content %}
    <h1>Detalle del libro</h1>
    <div class="row">
        <div class="col-8">
            <h2>{{ book.title }}</h2>
            <p><strong>Autor:</strong> {{ book.author }}</p>
            <p><strong>Resumen:</strong> {{ book.summary }}</p>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
            <p><strong>Género:</strong> {{ book.genre.all|join:", " }}</p>
            <p><strong>Ejemplares:</strong> {{ book.bookinstance_set.all.count }}</p>
            <p><strong>Estado ejemplares:</strong>
                {% for instance in book.bookinstance_set.all %}
                    {% if instance.status == 'a' %}
                        <span class="badge bg-success">Disponible</span>
                    {% elif instance.status == 'm' %}
                        <span class="badge bg-warning">Mantenimiento</span>
                    {% elif instance.status == 'r' %}
                        <span class="badge bg-info">Reservado</span>
                    {% else %}
                        <span class="badge bg-danger">Prestado</span>
                    {% endif %}
                {% endfor %}
            </p>
            
        </div>

    </div>


{% endblock %}