{% extends "base.html" %}
{% load static %}

{% block title %}Libros prestados{% endblock %}
{% block content %}
<h1>Libros prestados</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Libro</th>
            <th scope="col">Fecha de devolución</th>
            <th scope="col">Modificar fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in bookinstance_list %}
        <tr>
            <td>{{ libro.book.title }}</td>
            <td>{{ libro.due_back }}</td>
            <td><a href="{% url 'renovar-fecha' libro.id %}"> Modificar </a></td>
        {% endfor %}
    </tbody>
</table>
<!--Para que salga debajo de todo para cambiar de página-->

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        
        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
